GRF Monitoring Website/GRF Monitoring Website/ESRITest/Service References/SLServiceReference/SLService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65421/GRF Monitoring Website/SLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:65421/GRF Monitoring Website/SLService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SilverlightServiceCallResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceCallResult" type="tns:ServiceCallResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SilverlightServiceCallResult" nillable="true" type="tns:SilverlightServiceCallResult" />
  <xs:simpleType name="ServiceCallResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceCallResult" nillable="true" type="tns:ServiceCallResult" />
  <xs:complexType name="ArrayOfWeeklyTemp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeeklyTemp" nillable="true" type="tns:WeeklyTemp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeeklyTemp" nillable="true" type="tns:ArrayOfWeeklyTemp" />
  <xs:complexType name="WeeklyTemp">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="movAvg" type="xs:double" />
      <xs:element minOccurs="0" name="siteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeeklyTemp" nillable="true" type="tns:WeeklyTemp" />
  <xs:complexType name="ArrayOfMaxTemp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaxTemp" nillable="true" type="tns:MaxTemp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaxTemp" nillable="true" type="tns:ArrayOfMaxTemp" />
  <xs:complexType name="MaxTemp">
    <xs:sequence>
      <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="daysExceed" type="xs:int" />
      <xs:element minOccurs="0" name="hoboID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="percent" type="xs:double" />
      <xs:element minOccurs="0" name="siteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaxTemp" nillable="true" type="tns:MaxTemp" />
  <xs:complexType name="ArrayOfGarciaSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GarciaSite" nillable="true" type="tns:GarciaSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGarciaSite" nillable="true" type="tns:ArrayOfGarciaSite" />
  <xs:complexType name="GarciaSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dataDateRange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dataEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dataStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="isSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="siteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="years" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GarciaSite" nillable="true" type="tns:GarciaSite" />
</xs:schema>