GRF Monitoring Website/ConsoleApplication1/Service References/SLService/SLService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51332/GRF Monitoring Website/SLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:51332/GRF Monitoring Website/SLService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q1:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getYearsResult" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q3:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMWATData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sites" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q5:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMWATDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMWATDataResult" nillable="true" type="q6:ArrayOfWeeklyTemp" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q7:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxMWATData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sites" nillable="true" type="q8:ArrayOfstring" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q9:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxMWATDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMaxMWATDataResult" nillable="true" type="q10:ArrayOfMaxTemp" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q11:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMWMTData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sites" nillable="true" type="q12:ArrayOfstring" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q13:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMWMTDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMWMTDataResult" nillable="true" type="q14:ArrayOfWeeklyTemp" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q15:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxMWMTData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sites" nillable="true" type="q16:ArrayOfstring" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q17:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxMWMTDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMaxMWMTDataResult" nillable="true" type="q18:ArrayOfMaxTemp" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q19:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q20:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSitesResult" nillable="true" type="q21:ArrayOfGarciaSite" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sr" nillable="true" type="q22:SilverlightServiceCallResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>